In this notebook, I am going to merge the vaccine allocation data from Pfizer and Moderna with state population

In [1]:
import pandas as pd

In [2]:
population=pd.read_csv('./population_per_state.csv')

In [3]:
population.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

## Only need the 2019 data

In [4]:
col=[col for col in population.columns if '2019' in col]

In [5]:
col

['POPESTIMATE2019',
 'NPOPCHG_2019',
 'BIRTHS2019',
 'DEATHS2019',
 'NATURALINC2019',
 'INTERNATIONALMIG2019',
 'DOMESTICMIG2019',
 'NETMIG2019',
 'RESIDUAL2019',
 'RBIRTH2019',
 'RDEATH2019',
 'RNATURALINC2019',
 'RINTERNATIONALMIG2019',
 'RDOMESTICMIG2019',
 'RNETMIG2019']

In [6]:
ppl=population[['NAME','POPESTIMATE2019','NPOPCHG_2019','BIRTHS2019','DEATHS2019',
 'NATURALINC2019','INTERNATIONALMIG2019','DOMESTICMIG2019','NETMIG2019','RESIDUAL2019',
 'RBIRTH2019','RDEATH2019','RNATURALINC2019','RINTERNATIONALMIG2019','RDOMESTICMIG2019',
 'RNETMIG2019']].copy()

In [7]:
ppl.head()

,NAME,POPESTIMATE2019,NPOPCHG_2019,BIRTHS2019,DEATHS2019,NATURALINC2019,INTERNATIONALMIG2019,DOMESTICMIG2019,NETMIG2019,RESIDUAL2019,RBIRTH2019,RDEATH2019,RNATURALINC2019,RINTERNATIONALMIG2019,RDOMESTICMIG2019,RNETMIG2019
0,United States,328239523,1552022,3791712,2835038,956674,595348,0,595348,0,11.579037,8.657569,2.921467,1.818059,0.000000,1.818059
1,Northeast Region,55982803,-63817,602740,505588,97152,134145,-294331,-160186,-783,10.760387,9.025986,1.734402,2.394817,-5.254530,-2.859713
2,Midwest Region,68329004,92376,792343,622854,169489,85675,-161549,-75874,-1239,11.603842,9.121680,2.482162,1.254708,-2.365881,-1.111173
3,South Region,125580448,1011015,1481244,1122130,359114,242942,407913,650855,1046,11.842852,8.971661,2.871191,1.942372,3.261349,5.203720
4,West Region,78347268,512448,915385,584466,330919,132586,47967,180553,976,11.722023,7.484418,4.237605,1.697839,0.614245,2.312083

## <div align="center"> Data Dictionary

|Columns|Description|
|---|---|
|NAME|State name|
|POPESTIMATE2019|7/1/2019 resident total population estimate|
|NPOPCHG_2019|Numeric change in resident total population 7/1/2018 to 7/1/2019|
|BIRTHS2019|Births in period 7/1/2018 to 6/30/2019|
|DEATHS2019|Deaths in period 7/1/2018 to 6/30/2019|
|NATURALINC2019|Natural increase in period 7/1/2018 to 6/30/2019|
|INTERNATIONALMIG2019|Net international migration in period 7/1/2018 to 6/30/2019|
|DOMESTICMIG2019|Net domestic migration in period 7/1/2018 to 6/30/2019|
|NETMIG2019|Net migration in period 7/1/2018 to 6/30/2019|
|RESIDUAL2019|Residual for period 7/1/2018 to 6/30/2019|
|RBIRTH2019|Birth rate in period 7/1/2018 to 6/30/2019|
|RDEATH2019|Death rate in period 7/1/2018 to 6/30/2019|
|RNATURALINC2019|Natural increase rate in period 7/1/2018 to 6/30/2019|
|RINTERNATIONALMIG2019|Net international migration rate in period 7/1/2018 to 6/30/2019|
|RDOMESTICMIG2019|Net domestic migration rate in period 7/1/2018 to 6/30/2019|
|RNETMIG2019|Net migration rate in period 7/1/2018 to 6/30/2019|

## Only need the total population

In [8]:
ppl_df=population[['NAME','POPESTIMATE2019']].copy()

In [9]:
ppl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             57 non-null     object
 1   POPESTIMATE2019  57 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [10]:
ppl_df.head(6)

               NAME  POPESTIMATE2019
0     United States        328239523
1  Northeast Region         55982803
2    Midwest Region         68329004
3      South Region        125580448
4       West Region         78347268
5           Alabama          4903185

In [11]:
# drop the total and region population

ppl_df.drop([0,1,2,3,4],inplace=True)

In [12]:
#rename the column name

ppl_df.rename(columns={'NAME':'jurisdiction','POPESTIMATE2019':'2019_population'},inplace=True)

In [13]:
ppl_df.shape

(52, 2)

In [14]:
# set the jurisdiction as index for concat later

ppl_df.set_index('jurisdiction',inplace=True)

## Combine with vaccine data

In [15]:
vaccine=pd.read_csv('../data/vaccine_allocation.csv')

In [16]:
vaccine.head()

,jurisdiction,hhs_region,doses_allocated_12_14,doses_allocated_12_21,doses_allocated_12_28,doses_allocated_01_04,doses_allocated_01_10,doses_allocated_01_18,doses_allocated_01_25,doses_allocated_02_01,total_first_allocation
0,Alabama,Region 4,40950,113550,67125,58250,58350,60825,60825,70625,530500
1,Alaska,Region 10,35100,26800,0,52900,0,0,0,59600,174400
2,Arizona,Region 9,58500,161325,94925,83025,83225,86300,86300,100100,753700
3,Arkansas,Region 6,25350,69625,41100,36125,36225,37125,37125,43025,325700
4,California,Region 9,327600,905625,529675,463450,465325,485800,485800,562825,4226100

In [17]:
# Merge Illinois row and Chicage row

vaccine.loc[14]+=vaccine.loc[5]

# drop Chicago row

vaccine.drop([5],inplace=True)

#change the cell value from IllinoisChicago to Chicago

vaccine.at[14,'jurisdiction']='Illinois' 

# change the cell value from Region 5Region 5 to Region 5

vaccine.at[14,'hhs_region']='Region 5'

In [18]:
# merge New York row and New York City row

vaccine.loc[33]+=vaccine.loc[34]

#drop New York City row

vaccine.drop([34],inplace=True)

# change the cell value from New YorkNew York City to New York

vaccine.at[33,'jurisdiction']='New York'

# change the cell value from Region 2Region 2 to Region 2

vaccine.at[33,'hhs_region']='Region 2'

In [19]:
# merge Pennsylvania row and Philadelphia row

vaccine.loc[40]+=vaccine.loc[41]

# drop Philadelphia row

vaccine.drop([41],inplace=True)

# change the cell value from PennsylvaniaPhiladelphia to Pennsylvania

vaccine.at[40,'jurisdiction']='Pennsylvania'

# change the cell value from Region 3Region 3 to Region 3

vaccine.at[40,'hhs_region']='Region 3'

In [20]:
# drop the US Virgin Islands

vaccine=vaccine[vaccine['jurisdiction'] != 'US Virgin Islands']

In [21]:
vaccine.shape

(52, 11)

In [22]:
# set jurisdiction as the index

vaccine.set_index('jurisdiction',inplace=True)

In [23]:
# concat

vaccine_population=pd.concat([ppl_df,vaccine], axis=1,join='inner')

In [24]:
vaccine_population.reset_index(level=0,inplace=True)

In [25]:
vaccine_population.head()

,jurisdiction,2019_population,hhs_region,doses_allocated_12_14,doses_allocated_12_21,doses_allocated_12_28,doses_allocated_01_04,doses_allocated_01_10,doses_allocated_01_18,doses_allocated_01_25,doses_allocated_02_01,total_first_allocation
0,Alabama,4903185,Region 4,40950,113550,67125,58250,58350,60825,60825,70625,530500
1,Alaska,731545,Region 10,35100,26800,0,52900,0,0,0,59600,174400
2,Arizona,7278717,Region 9,58500,161325,94925,83025,83225,86300,86300,100100,753700
3,Arkansas,3017804,Region 6,25350,69625,41100,36125,36225,37125,37125,43025,325700
4,California,39512223,Region 9,327600,905625,529675,463450,465325,485800,485800,562825,4226100

In [26]:
vaccine_population=vaccine_population.to_csv('../clean_data/vaccine_population.csv',index=False)