In this notebook, I am going to combine all the california data that we scrapped from CDC.

https://covid.cdc.gov/covid-data-tracker/#vaccinations

In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [12]:
#https://stackoverflow.com/questions/3682748/converting-unix-timestamp-string-to-readable-date

datetime.utcfromtimestamp(1610755448).strftime('%Y-%m-%d %H:%M:%S')

'2021-01-16 00:04:08'

In [22]:
vac_1=pd.read_csv('../data/vaccinations_1610755448.csv')
vac_1=vac_1[vac_1['state']=='California']
vac_1.insert(1,'date',datetime.utcfromtimestamp(1610755448).strftime('%Y-%m-%d'))
vac_1

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-16,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [23]:
vac_2=pd.read_csv('../data/vaccinations_1610762408.csv')
vac_2=vac_2[vac_2['state']=='California']
vac_2.insert(1,'date',datetime.utcfromtimestamp(1610762408).strftime('%Y-%m-%d'))
vac_2

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-16,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [24]:
vac_3=pd.read_csv('../data/vaccinations_1610866722.csv')
vac_3=vac_3[vac_3['state']=='California']
vac_3.insert(1,'date',datetime.utcfromtimestamp(1610866722).strftime('%Y-%m-%d'))
vac_3

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-17,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [25]:
vac_4=pd.read_csv('../data/vaccinations_1610935207.csv')
vac_4=vac_4[vac_4['state']=='California']
vac_4.insert(1,'date',datetime.utcfromtimestamp(1610935207).strftime('%Y-%m-%d'))
vac_4

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-18,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [27]:
vac_5=pd.read_csv('../data/vaccinations_1611021607.csv')
vac_5=vac_5[vac_5['state']=='California']
vac_5.insert(1,'date',datetime.utcfromtimestamp(1611021607).strftime('%Y-%m-%d'))
vac_5

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-19,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [28]:
vac_6=pd.read_csv('../data/vaccinations_1611108007.csv')
vac_6=vac_6[vac_6['state']=='California']
vac_6.insert(1,'date',datetime.utcfromtimestamp(1611108007).strftime('%Y-%m-%d'))
vac_6

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-20,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374

In [29]:
vac_7=pd.read_csv('../data/vaccinations_1611205257.csv')
vac_7=vac_7[vac_7['state']=='California']
vac_7.insert(1,'date',datetime.utcfromtimestamp(1611205257).strftime('%Y-%m-%d'))
vac_7

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-21,4169450,1532329,10552.0,3878.0,1255311,3177.0,273276,273276

In [30]:
vac_8=pd.read_csv('../data/vaccinations_1611280808.csv')
vac_8=vac_8[vac_8['state']=='California']
vac_8.insert(1,'date',datetime.utcfromtimestamp(1611280808).strftime('%Y-%m-%d'))
vac_8

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-22,4379500,1633875,11084.0,4135.0,1335886,3381.0,293834,293834

In [31]:
vac_9=pd.read_csv('../data/vaccinations_1611367208.csv')
vac_9=vac_9[vac_9['state']=='California']
vac_9.insert(1,'date',datetime.utcfromtimestamp(1611367208).strftime('%Y-%m-%d'))
vac_9

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-23,4714625,1803679,11932.0,4565.0,1477195,3739.0,321839,321839

In [32]:
vac_10=pd.read_csv('../data/vaccinations_1611453608.csv')
vac_10=vac_10[vac_10['state']=='California']
vac_10.insert(1,'date',datetime.utcfromtimestamp(1611453608).strftime('%Y-%m-%d'))
vac_10

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-24,4906525,2008220,12418.0,5083.0,1661683,4205.0,341731,341731

In [33]:
vac_11=pd.read_csv('../data/vaccinations_1611540008.csv')
vac_11=vac_11[vac_11['state']=='California']
vac_11.insert(1,'date',datetime.utcfromtimestamp(1611540008).strftime('%Y-%m-%d'))
vac_11

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-25,4906525,2199908,12418.0,5568.0,1838464,4653.0,356382,356382

In [34]:
vac_12=pd.read_csv('../data/vaccinations_1611626408.csv')
vac_12=vac_12[vac_12['state']=='California']
vac_12.insert(1,'date',datetime.utcfromtimestamp(1611626408).strftime('%Y-%m-%d'))
vac_12

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-26,4906525,2330633,12418.0,5899.0,1954048,4945.0,371482,371482

In [42]:
# combine all the scrapped daily updates together

vac=pd.concat([vac_2,vac_3,vac_4,vac_5,vac_6,vac_7,vac_8,vac_9,vac_10,vac_11,vac_12])
vac

,state,date,total_doses_distributed,total_doses_administered,doses_distributed_100k,doses_administed_100k,people_1+_dose,doses_1+_100k,people_2_doses,doses_2_100k
6,California,2021-01-16,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374
6,California,2021-01-17,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374
6,California,2021-01-18,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374
6,California,2021-01-19,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374
6,California,2021-01-20,3548575,1072959,8981.0,2716.0,865387,2190.0,204374,204374
6,California,2021-01-21,4169450,1532329,10552.0,3878.0,1255311,3177.0,273276,273276
6,California,2021-01-22,4379500,1633875,11084.0,4135.0,1335886,3381.0,293834,293834
6,California,2021-01-23,4714625,1803679,11932.0,4565.0,1477195,3739.0,321839,321839
6,California,2021-01-24,4906525,2008220,12418.0,5083.0,1661683,4205.0,341731,341731
6,California,2021-01-25,4906525,2199908,12418.0,5568.0,1838464,4653.0,356382,356382
6,California,2021-01-26,4906525,2330633,12418.0,5899.0,1954048,4945.0,371482,371482

# <div align="center"> Data Dictionary

|Columns|Discription|
|---|---|
|state|state|
|date|timestamp|
|total_doses_distributed|Total accumulated doses distributed|
|daily_change_dist|Daily change on total accumulated doses distributed|
|total_doses_administered|Total accumulated doses administered|
|daily_change_admin|Daily change on total accumulated doses administered|
|doses_distributed_100k|Doses distributed for every 100,000 ppl|
|dist_100k_change|Daily change on doses distributed for every 100,000 ppl|
|doses_administed_100k|Doses administered every 100,000 ppl|
|admin_100k_change|Daily change on doses administered every 100,000 ppl|
|people_1+_dose|People receiving 1 or more doses|
|people_1+_dose_change|Daily change on people receiving 1 or more doses|
|doses_1+_100k|How many people received 1 or More Doses for every 100,000 ppl|
|doses_1+_100k_change|Daily change on how many people received 1 or More Doses for every 100,000 ppl|
|people_2_doses|People receiving 2 or more doses|
|people_2_doses_change|Daily change on people receiving 2 or more doses|
|doses_2_100k|How many people received 2 or More Doses for every 100,000 ppl|
|doses_2_100k_change|Daily change on how many people received 2 or More Doses for every 100,000 ppl|

In [45]:
# create a column for the daily distrubution change

vac.insert(loc=3,column='daily_change_dist',
    value=vac['total_doses_distributed']-vac['total_doses_distributed'].shift(1))

In [47]:
vac.insert(loc=5,column='daily_change_admin',
    value=vac['total_doses_administered']-vac['total_doses_administered'].shift(1))

In [49]:
vac.insert(loc=7,column='dist_100k_change',
    value=vac['doses_distributed_100k']-vac['doses_distributed_100k'].shift(1))

In [51]:
vac.insert(loc=9,column='admin_100k_change',
    value=vac['doses_administed_100k']-vac['doses_administed_100k'].shift(1))

In [53]:
vac.insert(loc=11,column='people_1+_dose_change',
    value=vac['people_1+_dose']-vac['people_1+_dose'].shift(1))

In [55]:
vac.insert(loc=13,column='doses_1+_100k_change',
    value=vac['doses_1+_100k']-vac['doses_1+_100k'].shift(1))

In [57]:
vac.insert(loc=15,column='people_2_doses_change',
    value=vac['people_2_doses']-vac['people_2_doses'].shift(1))

In [60]:
vac.insert(loc=17,column='doses_2_100k_change',
    value=vac['doses_2_100k']-vac['doses_2_100k'].shift(1))

In [62]:
vac.fillna(0,inplace=True)

In [27]:
vac

,state,date,total_doses_distributed,daily_change_dist,total_doses_administered,daily_change_admin,doses_distributed_100k,dist_100k_change,doses_administed_100k,admin_100k_change,people_1+_dose,people_1+_dose_change,doses_1+_100k,doses_1+_100k_change,people_2_doses,people_2_doses_change,doses_2_100k,doses_2_100k_change
6,California,2021-01-16,3548575,0.0,1072959,0.0,8981.0,0.0,2716.0,0.0,865387,0.0,2190.0,0.0,204374,0.0,204374,0.0
6,California,2021-01-17,3548575,0.0,1072959,0.0,8981.0,0.0,2716.0,0.0,865387,0.0,2190.0,0.0,204374,0.0,204374,0.0
6,California,2021-01-18,3548575,0.0,1072959,0.0,8981.0,0.0,2716.0,0.0,865387,0.0,2190.0,0.0,204374,0.0,204374,0.0
6,California,2021-01-19,3548575,0.0,1072959,0.0,8981.0,0.0,2716.0,0.0,865387,0.0,2190.0,0.0,204374,0.0,204374,0.0
6,California,2021-01-20,3548575,0.0,1072959,0.0,8981.0,0.0,2716.0,0.0,865387,0.0,2190.0,0.0,204374,0.0,204374,0.0
6,California,2021-01-21,4169450,620875.0,1532329,459370.0,10552.0,1571.0,3878.0,1162.0,1255311,389924.0,3177.0,987.0,273276,68902.0,273276,68902.0
6,California,2021-01-22,4379500,210050.0,1633875,101546.0,11084.0,532.0,4135.0,257.0,1335886,80575.0,3381.0,204.0,293834,20558.0,293834,20558.0
6,California,2021-01-23,4714625,335125.0,1803679,169804.0,11932.0,848.0,4565.0,430.0,1477195,141309.0,3739.0,358.0,321839,28005.0,321839,28005.0
6,California,2021-01-24,4906525,191900.0,2008220,204541.0,12418.0,486.0,5083.0,518.0,1661683,184488.0,4205.0,466.0,341731,19892.0,341731,19892.0
6,California,2021-01-25,4906525,0.0,2199908,191688.0,12418.0,0.0,5568.0,485.0,1838464,176781.0,4653.0,448.0,356382,14651.0,356382,14651.0
6,California,2021-01-26,4906525,0.0,2330633,130725.0,12418.0,0.0,5899.0,331.0,1954048,115584.0,4945.0,292.0,371482,15100.0,371482,15100.0

In [ ]:
#vac.to_csv('../clean_data/scrapped_ca_vaccine.csv',index=False)